absl-py==2.1.0
accelerate==1.1.1
aiobotocore @ file:///croot/aiobotocore_1738237872287/work
aiohappyeyeballs @ file:///croot/aiohappyeyeballs_1734469393482/work
aiohttp @ file:///croot/aiohttp_1734687138658/work
aioitertools @ file:///tmp/build/80754af9/aioitertools_1607109665762/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
alabaster @ file:///croot/alabaster_1718201490751/work
alembic==1.14.1
anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1695305080842/work
anaconda-catalogs @ file:///croot/anaconda-catalogs_1685727283692/work
anaconda-client @ file:///croot/anaconda-client_1694625250883/work
anaconda-cloud-auth @ file:///croot/anaconda-cloud-auth_1694462071362/work
anaconda-navigator @ file:///croot/anaconda-navigator_1695236675007/work
anaconda-project @ file:///work/ci_py311/anaconda-project_1676846728333/work
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio @ file:///croot/anyio_1729121277521/work
appdirs==1.4.4
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///croot/argon2-cffi-bindings_1736182440035/work
arrow @ file:///croot/arrow_1728676284441/work
astroid @ file:///croot/astroid_1736455921794/work
astropy @ file:///croot/astropy_1738094400634/work
astropy-iers-data @ file:///croot/astropy-iers-data_1737137584766/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-lru @ file:///croot/async-lru_1699554519285/work
asyncssh @ file:///croot/asyncssh_1729522951288/work
atomicwrites==1.4.0
attrdict==2.0.1
attrs==23.2.0
audioread==3.0.1
Automat @ file:///tmp/build/80754af9/automat_1600298431173/work
autopep8 @ file:///croot/autopep8_1708962882016/work
babel @ file:///croot/babel_1737454360933/work
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
bcrypt @ file:///croot/bcrypt_1736182451882/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1718029820055/work
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
black @ file:///croot/black_1737659122412/work
bleach @ file:///croot/bleach_1732290411627/work
blinker==1.8.2
bokeh @ file:///croot/bokeh_1737999150310/work
boltons @ file:///croot/boltons_1737061692168/work
botocore @ file:///croot/botocore_1738226888291/work
Bottleneck @ file:///croot/bottleneck_1731058641041/work
braceexpand==0.1.7
Brotli==1.1.0
bs4==0.0.2
cdifflib==1.2.9
certifi @ file:///croot/certifi_1734473278428/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
chardet @ file:///work/ci_py311/chardet_1676830276092/work
charset-normalizer==2.0.12
click==8.1.8
cloudpickle @ file:///croot/cloudpickle_1721657346512/work
clyent==1.2.2
colorcet @ file:///croot/colorcet_1709758348067/work
colorlog==6.9.0
comm @ file:///croot/comm_1709322850197/work
conda @ file:///croot/conda_1694544150384/work
conda-build @ file:///croot/conda-build_1692366767805/work
conda-content-trust @ file:///croot/conda-content-trust_1693490622020/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1691418897561/work/src
conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
conda-package-handling @ file:///croot/conda-package-handling_1690999929514/work
conda-repo-cli @ file:///croot/conda-repo-cli_1734546791360/work
conda-token @ file:///Users/paulyim/miniconda3/envs/c3i/conda-bld/conda-token_1662660369760/work
conda-verify==3.4.2
conda_index @ file:///croot/conda-index_1719338209492/work
conda_package_streaming @ file:///croot/conda-package-streaming_1690987966409/work
configparser==7.0.0
constantly @ file:///croot/constantly_1703165600746/work
contourpy @ file:///croot/contourpy_1732540045555/work
cookiecutter @ file:///croot/cookiecutter_1711059812130/work
crayons==0.4.0
cryptography @ file:///croot/cryptography_1732129644106/work
cssselect @ file:///croot/cssselect_1707339882883/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cytoolz @ file:///croot/cytoolz_1736803755750/work
daal4py==2023.1.1
dask @ file:///croot/dask-core_1736807475676/work
dask-expr @ file:///croot/dask-expr_1736810260185/work
datasets @ file:///croot/datasets_1684482929171/work
datashader @ file:///croot/datashader_1738336689243/work
debugpy @ file:///croot/debugpy_1736267418885/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated @ file:///work/ci_py311/deprecated_1676830461160/work
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill @ file:///work/ci_py311/dill_1676827712960/work
Distance==0.1.3
distributed @ file:///croot/distributed_1736870779962/work
docker-pycreds==0.4.0
docopt==0.6.2
docstring-to-markdown @ file:///work/ci_py311/docstring-to-markdown_1676851973684/work
docutils @ file:///work/ci_py311/docutils_1676822773036/work
editdistance==0.8.1
einops==0.8.0
et-xmlfile==1.1.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fake-headers==1.0.2
fastjsonschema @ file:///croot/python-fastjsonschema_1731939362158/work
fiddle==0.3.0
filelock @ file:///croot/filelock_1700591183607/work
flake8 @ file:///croot/flake8_1726157165993/work
Flask @ file:///croot/flask_1737454299809/work
flatbuffers==24.3.25
fonttools @ file:///croot/fonttools_1737039080035/work
frozenlist @ file:///croot/frozenlist_1730902802621/work
fsspec==2024.10.0
future @ file:///croot/future_1730902796226/work
g2p-en==2.1.0
gast==0.6.0
gensim @ file:///croot/gensim_1725057941774/work
gitdb==4.0.12
GitPython==3.1.44
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
gmpy2 @ file:///croot/gmpy2_1738085463648/work
google-pasta==0.2.0
graphviz==0.20.3
greenlet @ file:///croot/greenlet_1733860072744/work
grpcio==1.68.0
h11==0.14.0
h2==4.1.0
h5py @ file:///croot/h5py_1737051113867/work
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
holoviews @ file:///croot/holoviews_1730827640154/work
hpack==4.0.0
html5lib==1.1
httpcore @ file:///croot/httpcore_1706728464539/work
httpx @ file:///croot/httpx_1723474802858/work
huggingface-hub==0.26.2
hvplot @ file:///croot/hvplot_1734469498271/work
hydra-core==1.3.2
hyperframe==6.0.1
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna @ file:///croot/idna_1714398848350/work
imageio @ file:///croot/imageio_1738159938990/work
imagesize @ file:///work/ci_py311/imagesize_1676830829500/work
imbalanced-learn @ file:///croot/imbalanced-learn_1718132237102/work
importlib_metadata @ file:///croot/importlib_metadata-suite_1732633488278/work
incremental @ file:///croot/incremental_1708639938299/work
inflect==7.5.0
inflection==0.5.1
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
intake @ file:///croot/intake_1726109551815/work
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel @ file:///croot/ipykernel_1737660677549/work
ipython @ file:///croot/ipython_1734548052611/work
ipywidgets @ file:///croot/ipywidgets_1733504575802/work
isort @ file:///croot/isort_1736366665795/work
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
itemloaders @ file:///croot/itemloaders_1708639918324/work
itsdangerous @ file:///croot/itsdangerous_1716533337253/work
Janome==0.5.0
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jedi @ file:///croot/jedi_1733987392413/work
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
jellyfish @ file:///croot/jellyfish_1736366665756/work
jieba==0.42.1
Jinja2 @ file:///croot/jinja2_1737760107953/work
jiwer==3.1.0
jmespath @ file:///croot/jmespath_1700144569655/work
joblib @ file:///croot/joblib_1718217211762/work
json5 @ file:///croot/json5_1730786798687/work
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpointer==2.1
jsonschema @ file:///croot/jsonschema_1728486696720/work
jsonschema-specifications @ file:///croot/jsonschema-specifications_1699032386549/work
jupyter @ file:///croot/jupyter_1737645803214/work
jupyter-console @ file:///croot/jupyter_console_1679999630278/work
jupyter-events @ file:///croot/jupyter_events_1718738097486/work
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1699978238815/work
jupyter_client @ file:///croot/jupyter_client_1737570961872/work
jupyter_core @ file:///croot/jupyter_core_1718818295206/work
jupyter_server @ file:///croot/jupyter_server_1718827083372/work
jupyter_server_terminals @ file:///croot/jupyter_server_terminals_1686870725608/work
jupyterlab @ file:///croot/jupyterlab_1737555423487/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab_server @ file:///croot/jupyterlab_server_1725865349919/work
jupyterlab_widgets @ file:///croot/jupyterlab_widgets_1733440870459/work
kaitaistruct==0.10
kaldi-python-io==1.2.2
kaldiio==2.18.0
kaleido @ file:///croot/python-kaleido_1689925312296/work
keras==3.7.0
keyring @ file:///croot/keyring_1709632513808/work
kiwisolver @ file:///croot/kiwisolver_1737039087198/work
kornia==0.8.0
kornia_rs==0.1.8
lazy_loader @ file:///croot/lazy_loader_1718176737906/work
Levenshtein==0.26.1
lhotse==1.29.0
libarchive-c @ file:///croot/python-libarchive-c_1726069797193/work
libclang==18.1.1
libcst==1.6.0
libmambapy @ file:///croot/mamba-split_1694187754698/work/libmambapy
librosa==0.10.2.post1
lightning==2.4.0
lightning-utilities==0.12.0
lilcom==1.8.0
linkify-it-py @ file:///work/ci_py311/linkify-it-py_1676837069144/work
llvmlite @ file:///croot/llvmlite_1736366675558/work
lmdb @ file:///croot/python-lmdb_1736540601428/work
locket @ file:///work/ci_py311/locket_1676827274546/work
loguru==0.7.3
lxml @ file:///croot/lxml_1715289006750/work
lz4 @ file:///croot/lz4_1736366683208/work
Mako==1.3.8
Markdown @ file:///work/ci_py311/markdown_1676837083112/work
markdown-it-py @ file:///croot/markdown-it-py_1684279902645/work
MarkupSafe @ file:///croot/markupsafe_1736366905094/work
marshmallow==3.26.0
matplotlib==3.10.0
matplotlib-inline @ file:///work/ci_py311/matplotlib-inline_1676823841154/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdit-py-plugins @ file:///work/ci_py311/mdit-py-plugins_1676837111662/work
mdurl @ file:///work/ci_py311/mdurl_1676827289376/work
mediapy==1.1.6
mistune @ file:///work/ci_py311/mistune_1676823683049/work
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
ml-dtypes==0.4.1
more-itertools @ file:///croot/more-itertools_1727185441804/work
mpmath @ file:///croot/mpmath_1690848262763/work
msgpack @ file:///work/ci_py311/msgpack-python_1676823037805/work
multidict @ file:///croot/multidict_1730905498140/work
multipledispatch @ file:///work/ci_py311/multipledispatch_1676841220684/work
multiprocess @ file:///work/ci_py311/multiprocess_1676841234722/work
mypy-extensions @ file:///croot/mypy_extensions_1695130926492/work
namex==0.0.8
navigator-updater @ file:///croot/navigator-updater_1718030385782/work
nb-conda-kernels @ file:///work/ci_py311/nb_conda_kernels_1676845026630/work
nbclient @ file:///croot/nbclient_1698934205032/work
nbconvert @ file:///croot/nbconvert_1728049414448/work
nbformat @ file:///croot/nbformat_1728049424075/work
nemo-toolkit==2.1.0
nemo_text_processing==1.1.0
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
networkx @ file:///croot/networkx_1737039604450/work
nltk @ file:///croot/nltk_1724427688180/work
notebook @ file:///croot/notebook_1738159946465/work
notebook_shim @ file:///croot/notebook-shim_1699455894279/work
numba @ file:///croot/numba_1720540961817/work
numexpr @ file:///croot/numexpr_1730215937391/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp311-cp311-linux_x86_64.whl#sha256=5f96f274d410a1682519282ae769c877d32fdbf171aa8badec7bf5e1d3a1748a
numpydoc @ file:///croot/numpydoc_1718279157024/work
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
onnx==1.17.0
openpyxl @ file:///croot/openpyxl_1736366913861/work
opt_einsum==3.4.0
optree==0.13.1
optuna==4.2.0
outcome==1.3.0.post0
overrides @ file:///croot/overrides_1699371140756/work
packaging @ file:///croot/packaging_1734472117206/work
pandas @ file:///croot/pandas_1692289311655/work
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
panel @ file:///croot/panel_1730380813476/work
param @ file:///croot/param_1734618615770/work
parsel @ file:///croot/parsel_1707503445438/work
parso @ file:///croot/parso_1733963305961/work
partd @ file:///croot/partd_1736803412080/work
pathspec @ file:///work/ci_py311_2/pathspec_1679337288229/work
patsy @ file:///croot/patsy_1738159930729/work
pep8==1.7.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow @ file:///croot/pillow_1738010226202/work
pkce @ file:///croot/pkce_1690384816590/work
pkginfo @ file:///croot/pkginfo_1731939382641/work
plac==1.4.3
platformdirs @ file:///croot/platformdirs_1692205439124/work
plotly @ file:///croot/plotly_1726245554316/work
pluggy @ file:///croot/pluggy_1733169602837/work
ply==3.11
pooch==1.8.2
prometheus_client @ file:///croot/prometheus_client_1731953121795/work
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
propcache @ file:///croot/propcache_1732303986938/work
Protego @ file:///tmp/build/80754af9/protego_1598657180827/work
protobuf==5.29.0
psutil @ file:///croot/psutil_1736367091698/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-cpuinfo @ file:///croot/py-cpuinfo_1698068081650/work
pyannote.core==5.0.0
pyannote.database==5.1.3
pyannote.metrics==3.2.1
pyarrow @ file:///croot/pyarrow_1738229418212/work/python
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pybind11==2.13.6
pycodestyle @ file:///croot/pycodestyle_1726150303809/work
pycosat @ file:///croot/pycosat_1736868416091/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyct @ file:///work/ci_py311/pyct_1676838544646/work
pycurl @ file:///croot/pycurl_1737065866108/work
pydantic==2.10.6
pydantic_core==2.27.2
PyDispatcher==2.0.5
pydocstyle @ file:///work/ci_py311/pydocstyle_1677708708066/work
pydub==0.25.1
pyerfa @ file:///croot/pyerfa_1738082786199/work
pyflakes @ file:///croot/pyflakes_1708962956225/work
PyGithub @ file:///croot/pygithub_1725976268771/work
Pygments @ file:///croot/pygments_1684279966437/work
PyJWT @ file:///croot/pyjwt_1736178889029/work
pylint @ file:///croot/pylint_1736469691131/work
pylint-venv @ file:///croot/pylint-venv_1709837612550/work
pyloudnorm==0.1.1
pyls-spyder==0.4.0
PyNaCl @ file:///croot/pynacl_1736540781734/work
pynini==2.1.6.post1
pyodbc @ file:///croot/pyodbc_1737479624928/work
pyOpenSSL @ file:///croot/pyopenssl_1723651579422/work
pyparsing @ file:///croot/pyparsing_1731445506121/work
pypinyin==0.53.0
pypinyin-dict==0.9.0
PyQt5==5.15.10
PyQt5_sip @ file:///croot/pyqt-split_1736540531116/work/pyqt_sip
PyQtWebEngine==5.15.6
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
pytest @ file:///croot/pytest_1717793244625/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-dotenv @ file:///work/ci_py311/python-dotenv_1676842320650/work
python-json-logger @ file:///croot/python-json-logger_1734370021104/work
python-lsp-black @ file:///croot/python-lsp-black_1709232897954/work
python-lsp-jsonrpc @ file:///croot/python-lsp-jsonrpc_1708962872556/work
python-lsp-server @ file:///croot/python-lsp-server_1726696845279/work
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
pytoolconfig @ file:///croot/pytoolconfig_1701728692402/work
pytorch-lightning==2.5.0.post0
pytz @ file:///croot/pytz_1713974312559/work
pyuca @ file:///croot/pyuca_1726251419336/work
pyviz_comms @ file:///croot/pyviz_comms_1711136832766/work
PyWavelets @ file:///croot/pywavelets_1737133681996/work
pyworld==0.3.5
pyxdg @ file:///tmp/build/80754af9/pyxdg_1603822279816/work
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq @ file:///croot/pyzmq_1734687138743/work
QDarkStyle @ file:///croot/qdarkstyle_1709231003551/work
qstylizer @ file:///work/ci_py311/qstylizer_1677706154568/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl
QtAwesome @ file:///croot/qtawesome_1726169351455/work
qtconsole @ file:///croot/qtconsole_1737590761179/work
QtPy @ file:///croot/qtpy_1700144840038/work
queuelib @ file:///croot/queuelib_1696950067631/work
RapidFuzz==3.12.1
referencing @ file:///croot/referencing_1699012038513/work
regex @ file:///croot/regex_1736540786412/work
requests==2.27.1
requests-file @ file:///Users/ktietz/demo/mc3/conda-bld/requests-file_1629455781986/work
requests-toolbelt @ file:///croot/requests-toolbelt_1690874004362/work
resampy==0.4.3
responses @ file:///tmp/build/80754af9/responses_1619800270522/work
rfc3339-validator @ file:///croot/rfc3339-validator_1683077044675/work
rfc3986-validator @ file:///croot/rfc3986-validator_1683058983515/work
rich @ file:///croot/rich_1732638981168/work
rope @ file:///croot/rope_1708963153974/work
rpds-py @ file:///croot/rpds-py_1736541261634/work
Rtree @ file:///work/ci_py311/rtree_1676845693189/work
ruamel-yaml-conda @ file:///work/ci_py311/ruamel_yaml_1676845707897/work
ruamel.yaml @ file:///work/ci_py311/ruamel.yaml_1676838772170/work
s3fs @ file:///croot/s3fs_1737133720631/work
sacremoses==0.1.1
safetensors @ file:///croot/safetensors_1732227615904/work
scikit-image @ file:///croot/scikit-image_1737476515437/work
scikit-learn @ file:///croot/scikit-learn_1737988764076/work
scikit-learn-intelex==20230426.111612
scipy @ file:///croot/scipy_1733756309941/work/dist/scipy-1.13.1-cp311-cp311-linux_x86_64.whl#sha256=5ffc63ac1fa598b4738e3feac1e90ef7aded8b54c50cfb18fbf39cd60fab9f99
Scrapy @ file:///croot/scrapy_1733166797775/work
seaborn @ file:///croot/seaborn_1738256900200/work
SecretStorage @ file:///work/ci_py311_2/secretstorage_1679339060489/work
selenium==4.7.0
selenium-wire==5.1.0
Send2Trash @ file:///croot/send2trash_1736540790175/work
sentencepiece==0.2.0
sentry-sdk==2.20.0
service-identity @ file:///Users/ktietz/demo/mc3/conda-bld/service_identity_1629460757137/work
setproctitle==1.3.4
shellingham==1.5.4
sip @ file:///croot/sip_1736541134699/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open @ file:///work/ci_py311/smart_open_1676842848397/work
smmap==5.0.2
sniffio==1.3.1
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soundfile==0.13.1
soupsieve @ file:///croot/soupsieve_1696347547217/work
sox==1.5.0
soxr==0.5.0.post1
Sphinx @ file:///croot/sphinx_1718275386998/work
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///croot/sphinxcontrib-serializinghtml_1718201486943/work
spyder @ file:///croot/spyder_1730211291497/work
spyder-kernels @ file:///croot/spyder-kernels_1728673996259/work
SQLAlchemy @ file:///croot/sqlalchemy_1736565039440/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels @ file:///croot/statsmodels_1734018870787/work
superqt @ file:///croot/superqt_1726836452049/work
sympy @ file:///croot/sympy_1738108488918/work
tables @ file:///croot/pytables_1737365128613/work
tabulate @ file:///croot/tabulate_1701354810597/work
TBB==0.2
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
tenacity @ file:///croot/tenacity_1730302500303/work
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
terminado @ file:///work/ci_py311/terminado_1677696151350/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///croot/textdistance_1731571650161/work
texterrors==0.5.1
threadpoolctl @ file:///croot/threadpoolctl_1719407800858/work
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///croot/tifffile_1734340907867/work
tinycss2 @ file:///croot/tinycss2_1738337643607/work
tldextract @ file:///croot/tldextract_1723064386918/work
tokenizers @ file:///croot/tokenizers_1732129617059/work
tomli @ file:///work/ci_py311/tomli_1676822660974/work
tomlkit @ file:///croot/tomlkit_1728650307440/work
toolz @ file:///croot/toolz_1736796253816/work
torch==2.1.1
torchmetrics==1.6.1
tornado @ file:///croot/tornado_1733960490606/work
tqdm @ file:///croot/tqdm_1724853939799/work
traitlets @ file:///croot/traitlets_1718227057033/work
transformers @ file:///croot/transformers_1729767158381/work
trio==0.25.1
trio-websocket==0.11.1
triton==2.1.0
Twisted @ file:///croot/twisted_1708702809815/work
twitter-scraper-selenium==6.1.2
typeguard==4.4.1
typer==0.15.1
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
uc-micro-py @ file:///work/ci_py311/uc-micro-py_1676828889155/work
ujson @ file:///croot/ujson_1736541024667/work
unicodedata2 @ file:///croot/unicodedata2_1736541023050/work
Unidecode @ file:///croot/unidecode_1724790039185/work
urllib3==1.26.20
w3lib @ file:///croot/w3lib_1708639924738/work
wandb==0.19.5
watchdog @ file:///croot/watchdog_1717166512516/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webdataset==0.2.100
webdriver-manager==3.2.2
webencodings==0.5.1
websocket-client @ file:///croot/websocket-client_1715878298792/work
Werkzeug @ file:///croot/werkzeug_1737448706492/work
wget==3.2
whatthepatch @ file:///work/ci_py311/whatthepatch_1677708379946/work
widgetsnbextension @ file:///croot/widgetsnbextension_1733439572884/work
wrapt @ file:///croot/wrapt_1736540904746/work
wsproto==1.2.0
wurlitzer @ file:///work/ci_py311/wurlitzer_1676843053614/work
xarray @ file:///croot/xarray_1689041471350/work
xxhash @ file:///croot/python-xxhash_1737039434400/work
xyzservices @ file:///work/ci_py311/xyzservices_1676828923127/work
yapf @ file:///croot/yapf_1708964320665/work
yarl @ file:///croot/yarl_1732546845924/work
zict @ file:///croot/zict_1695832839030/work
zipp @ file:///croot/zipp_1732630741423/work
zope.interface @ file:///croot/zope.interface_1731939362051/work
zstandard @ file:///croot/zstandard_1731356346222/work
